<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key ="SearchPath1" value ="\\int-reportweb\admin\Rental\Report Library"/>
		<add key ="SearchPath2" value ="\\int-reportweb\admin\rentaladmin\Report Library"/>
		<add key ="SearchPath3" value ="\\int-reportweb\admin\rentaladhoc\Report Library"/>
	</appSettings>
</configuration>